.search {
  margin: 35px 0;
}

.search h1 {
  margin: 60px 0;
  font-size: 52px;
  letter-spacing: 3px;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 10px;
}

.search-btn {
  border: 2px solid rgb(245, 170, 95);
  color: rgb(245, 170, 95);
  letter-spacing: 1px;
  font-size: 16px;
  margin-left: 10px;
  margin-bottom: 3px;
}

.search-btn:hover {
  cursor: pointer;
  border: 2px solid rgb(245, 170, 95);
  background-color: rgb(245, 170, 95);
  color: #fff;
}

.form-control {
  width: 20%;
  padding: 18px 0;
  display: inline;
  padding-left: 10px;
  min-width: 175px;
  max-width: 200px;
  font-size: 14px;
}

.form-control::placeholder {
  font-size: 12px;
}

.restaurants {
  height: 125px;
}

.restaurants h2 {
  margin-bottom: 15px;
}

.restaurant-link {
  display: block;
  margin: 10px auto;
  padding-bottom: 10px;
  width: 40%;
  max-width: 200px;
}
