.menu {
  margin-bottom: 100px;
  margin: auto;
  padding: 50px 0;
  width: 40%;
  min-width: 400px;
  clear: both;
}

.menu p {
  margin-top: 20px;
}

.scroll {
  font-size: 16px;

}

.restaurants {
    color: white;
}

.product-area {
  min-width: 380px;
  margin: auto;
  clear: both;
  padding: 50px 0px;
}

.product-area span {
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 20px;
  margin-left: 85px;
  align: center;
}

.order-btn {
  position: relative;
  bottom: 10px;
  float: right;
}
